<link rel="stylesheet" href="/css/use.css">
<h1>
    Codeial / <%= title %>
</h1>
<div>
    <p>
        <h2>email:<%= email %></h2>
    </p>
    <p>
        <h2>password:<%= password %></h2>
    </p>
</div>

