header{
    display: flex;
    justify-content: space-between;
    background-color:#0096c7;
    color: aliceblue;
    font-weight: 700;
    padding:5px;
    font-size: 1.1em;
    ul{
        display: flex;
        li{
            list-style:none;
            margin-left: 10px;
            a{
                text-decoration: none;
                color: aliceblue;
            }
        }
    }
}